.app {
    max-width: 960px;
    margin: auto;
}

.app__header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 48px;
}

.app__header__searchbox {
    width: 300px;
    padding: 0 8px;
}

.app__upload-button {
    text-transform: uppercase;
}
