$padding: 24px;

.document-card {
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: $padding;
    position: relative;
    overflow: hidden;

    h3 {
        padding: 0;
        margin: 0;
        margin-bottom: $padding;
        overflow: hidden;
        text-overflow: ellipsis;    
    }

    &:hover {
        border: 1px solid #777;
    }
}

.document-card__delete {
    position: absolute;
    bottom: $padding;
    right: $padding;
}