.documents-stats {
    display: flex;
    justify-content: space-between;

    h2, div {
        margin: 0;
        margin-bottom: 24px;
        padding: 0;
    }
}

@media (max-width: 480px) {
    .documents-stats {
        flex-direction: column;
    }
}
