.image-upload-form {
    label {
        display: block;
        margin-bottom: 4px;
    }

    input[type="text"] {
        width: 300px;
    }
}

.image-upload-form__actions {
    margin-top: 48px;
}