.modal {
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 6;
}

.modal__container {
    background-color: white;
    position: relative;
    max-width: 480px;
    margin: auto;
    margin-top: 20vh;
    padding: 24px;
}

.modal__content {
    // max-width: 480px;
    // margin: auto;
    // padding-top: 20vh;
    h
}

.modal__close {
    position: absolute;
    top: 24px;
    right: 24px;
}